<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <title>Aktive bestillinger - Kuben Kantine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% include "_navbar.html" %}

    <h1>Aktive bestillinger</h1>
    <table border="1" cellpadding="8">
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Hentetid</th>
            <th>Koststed</th>
            <th>Handling</th>
        </tr>
        {% for o in orders %}
        <tr>
            <td>{{ o.id }}</td>
            <td>{{ o.navn }}</td>
            <td>{{ o.hent_dato | format_date }} | {{ o.hent_tid }}</td>
            <td>{{ o.koststed }}</td>
            <td>
                <a href="/vis-bestilling/{{ o.id }}" style="padding-right: 20px;">Vis</a>
                <form method="POST" action="/sett-levert/{{ o.id }}" class="inline-form">
                    <button type="submit">✔️ Sett som levert</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>