<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuben Kantine - Hovedmeny</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% include "navigation/_navbar.html" %}

    <div class="centered-page is-tight">
        <h1>Velkommen til Kuben Kantine</h1>
        <h2>Velg hva du vil gjøre</h2>
        <ul class="main-menu-ul">
            {% if role == 'personlig' %}
            <li class="main-menu-li menu-dropdown">
                <button class="menu-dropdown-toggle" type="button" data-menu-toggle>
                    <div></div>
                    <svg class="icon dropdown-toggle-icon">
                        <use href="#icon-plus"></use>
                    </svg>
                    Lag ny bestilling
                </button>

                <ul class="submenu">
                    <li>
                        <a href="/bestille-fra-kantina">
                            <button class="span-icon-holder">
                                <span class="icon"></span>
                                Bestill fra kantina
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="/bestille-fra-WAKEUP">
                            <button>
                                <svg class="icon">
                                    <use href="#icon-store"></use>
                                </svg>
                                Bestill fra WAKEUP
                            </button>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="main-menu-li">
                <a href="/mine-bestillinger">
                    <button>
                        <div></div>
                        <svg class="icon">
                            <use href="#icon-clipboard"></use>
                        </svg>
                        Mine bestillinger
                    </button>
                </a>
            </li>

            {% elif role == 'kjokken' %}
            <li class="main-menu-li menu-dropdown">
                <button class="menu-dropdown-toggle" type="button" data-menu-toggle>
                    <div></div>
                    <svg class="icon dropdown-toggle-icon">
                        <use href="#icon-plus"></use>
                    </svg>
                    Rediger meny
                </button>

                <ul class="submenu">
                    <li>
                        <a href="/meny-editor/Kantina">
                            <button class="span-icon-holder">
                                <span class="icon"></span>
                                Rediger kantina meny
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="/meny-editor/WAKEUP">
                            <button>
                                <svg class="icon">
                                    <use href="#icon-store"></use>
                                </svg>
                                Rediger WAKEUP meny
                            </button>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="main-menu-li">
                <a href="/aktive-bestillinger-i-kantinen">
                    <button>
                        <div></div>
                        <svg class="icon">
                            <use href="#icon-chef-hat"></use>
                        </svg> Aktive bestillinger
                    </button>
                </a>
            </li>

            {% elif role == 'okonomi' %}
            <li class="main-menu-li">
                <a href="/ferdige-bestillinger">
                    <button>
                        <div></div>
                        <svg class="icon">
                            <use href="#icon-order"></use>
                        </svg> Ferdige bestillinger
                    </button>
                </a>
            </li>

            {% elif role == 'admin' %}
            <li class="main-menu-li">
                <a href="/admin-brukere">
                    <button>
                        <div></div>
                        <svg class="icon">
                            <use href="#icon-user-group"></use>
                        </svg> Administrer brukere
                    </button>
                </a>
            </li>
            <li class="main-menu-li">
                <a href="/admin-bestillinger">
                    <button>
                        <div></div>
                        <svg class="icon">
                            <use href="#icon-order"></use>
                        </svg> Se alle bestillinger
                    </button>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

    {% include "navigation/back_to_top.html" %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>