<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <title>Kuben Kantine Bestilling</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    {% include "_navbar.html" %}

    <h1>Bestillingsskjema for Kuben Kantine</h1>

    <form id="bestilling-form" action="/submit" method="POST">
        <div class="bruker-info">
            <div class="Kundeinformasjon">
                <h2>Kundeinformasjon</h2>
                <div>
                    <label>Navn:</label><input name="navn" required>
                </div>
                <div>
                    <label>Mobil:</label><input name="mobil" required>
                </div>
                <div>
                    <label>Organisasjonsnummer:</label><input name="organisasjonsnummer">
                </div>
                <div>
                    <label>Fakturaadresse:</label><input name="fakturaadresse">
                </div>
                <div>
                    <label>E-post:</label><input type="email" name="epost" required>
                </div>
                <div>
                    <label>Ressursnummer:</label><input name="ressursnummer">
                </div>
                <div>
                    <label>Koststed:</label>
                    <div id="select-input">
                        <select name="koststed" id="koststedSelect" onchange="toggleKoststedInput()" required>
                            <option value="">-Velg koststed-</option>
                            <option value="12451-Rektor">12451 Rektor</option>
                            <option value="12453-Internasjonalisering">12453 Internasjonalisering (Kristin)</option>
                            <option value="12454-Elevkontoret">12454 Elevkontoret</option>
                            <option value="12455-Elevtjenesten">12455 Elevtjenesten</option>
                            <option value="12465-Fellesfag-ST">12465 Fellesfag ST</option>
                            <option value="12470-Bygg">12470 Bygg</option>
                            <option value="12472-Helse-og-oppvekst">12472 Helse- og oppvekst</option>
                            <option value="12474-Elektro">12474 Elektro</option>
                            <option value="12475-TEK">12475 TEK</option>
                            <option value="12476-IM">12476 IM</option>
                            <option value="12478-OT">12478 OT</option>
                            <option value="12484-ED-nettverket">12484 ED-nettverket</option>
                            <option value="12485-Karriereenheten">12485 Karriereenheten</option>
                            <option value="12488-KKT">12488 KKT</option>
                            <option value="12491-Økonomi-adm">12491 Økonomi/adm</option>
                            <option value="12493-Kantine">12493 Kantine</option>
                            <option value="12494-Teknisk-drift">12494 Teknisk drift - vedlikehold</option>
                            <option value="12495-Husleie-energi-renhold">12495 Husleie, energi, renhold</option>
                            <option value="12498-Teknisk-støtte-IKT">12498 Teknisk støtte (IKT)</option>
                            <option value="12898-MO">12898 MO</option>
                            <option value="12920-Fagskolen-i-Oslo">12920 Fagskolen i Oslo</option>
                            <option value="other">Annet</option>
                        </select>
                        <input style="margin-top: 10px; display: none;" type="text" name="koststedCustom"
                            id="koststedInput" placeholder="Skriv inn koststedet" style="display:none;">
                    </div>
                </div>
            </div>

            <div class="Henting">
                <h2>Dato</h2>
                <div>
                    <label>Dato:</label><input type="date" name="hent_dato" required>
                </div>
                <div>
                    <label>Tid:</label><input type="time" name="hent_tid" required>
                </div>
                <div>
                    <label><input style="width: auto;" type="checkbox" name="spise_i_kantina" id="spise_i_kantina"
                            onchange="toggleSpiseIKantina()"> Spise i kantina</label>
                    <input type="number" name="antall_personer" id="antallContainer" min="1"
                        placeholder="Antall personer" style="display:none;">
                </div>
            </div>
        </div>

        <section id="Meny">
            <h2>Meny</h2>
            {% for category, items in categories.items() %}
            <h3>{{ category }}</h3>
            <div class="menu-category">
                {% for item in items %}
                <div class="menu-item">
                    <img src="#" alt="Bilde av {{ item.title }}" width="150" height="200">
                    <div class="information">
                        <p style="text-align: center;">{{ item.title }}</p>
                        <p class="les-mer" onclick="toggleReadMore(event)">Les mer ▼</p>
                        <p class="description" style="display: none;">{{ item.description or "" }}</p>
                        <p>{{ "%.0f"|format(item.price) }} kr</p>
                        <div class="antall-div">
                            <button class="plus" type="button" onclick="changeQuantity('{{ item.id }}', +1)">+</button>
                            <p class="antall-p" name="{{ item.id }}" onclick="editQuantity('{{ item.id }}')"
                                tabindex="0">0
                            </p>
                            <input class="antall-input" type="number" name="item_{{ item.id }}" min="0"
                                style="width: 70px; text-align: center; display: none;">
                            <button class="minus" type="button" onclick="changeQuantity('{{ item.id }}', -1)">-</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <h2>Melding til kantina</h2>
            <textarea name="melding" rows="4" cols="40" placeholder="f.eks. allergier"></textarea>
        </section>
        <button id="submitButton" type="submit">Send bestilling</button>
    </form>

</body>

</html>