<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Velg stedet - Kuben</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% include "_navbar.html" %}

    <div class="centered-page">
        <h1>Velg hvor du vil spise</h1>
        <h2>Dine valg</h2>

        <ul>
            <li><a href="/bestille-fra-kantina"><button>🪑 Bestille fra Kantina</button></a></li>
            <li><a href="/bestille-fra-WAKEUP"><button>🏪 Bestille fra WAKEUP</button></a></li>
        </ul>
    </div>
</body>

</html>