<nav style="background:#eee; padding:10px; border-radius:10px;">
    {% if 'user' in session %}
        <b>{{ session['user']['navn'] }}</b>
        {% if 'active_role' in session %}
            (rolle: {{ session['active_role']|capitalize }})
        {% endif %}
    {% else %}
        <b>Ikke logget inn</b>
    {% endif %}
    |
    <a href="{{ url_for('main_menu') }}">Hjem</a> |
    {% if session.get('active_role') == 'personlig' %}
        <a href="{{ url_for('bestill') }}">Bestill</a> |
        <a href="{{ url_for('mine_bestillinger') }}">Mine bestillinger</a> |
    {% elif session.get('active_role') == 'kjokken' %}
        <a href="{{ url_for('aktive_bestillinger') }}">Aktive bestillinger</a> |
    {% elif session.get('active_role') == 'okonomi' %}
        <a href="{{ url_for('ferdige_bestillinger') }}">Ferdige bestillinger</a> |
    {% elif session.get('active_role') == 'admin' %}
        <a href="{{ url_for('admin_brukere') }}">Brukeradministrasjon</a> |
    {% endif %}
    <a href="{{ url_for('login') }}">Bytt bruker</a>
</nav>
<hr>