<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Administrer bestillingene - Kuben Kantine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% include "_navbar.html" %}

    <h2>Bestillingadministrasjon</h2>

    <table border="1" cellpadding="8">
        <tr>
            <th>Order ID</th>
            <th>Bruker ID</th>
            <th>Navn</th>
            <th>E-post</th>
            <th>Koststed</th>
            <th>Dato</th>
            <th>Total (kr)</th>
            <th>Levert</th>
            <th>Fakturert</th>
            <th>Handling</th>
        </tr>
        {% for o in orders %}
        <tr>
            <td>{{ o.id }}</td>
            <td>{{ o.user_id }}</td>
            <td>{{ o.navn }}</td>
            <td>{{ o.epost }}</td>
            <td>{{ o.koststed }}</td>
            <td>{{ o.hent_dato }}</td>
            <td>{{ o.total }}</td>
            <td>{{ '✔️' if o.status_levert else '❌' }}</td>
            <td>{{ '✔️' if o.status_fakturert else '❌' }}</td>
            <td><a href="/vis-bestilling/{{ o.id }}">Vis</a></td>
        </tr>
        {% endfor %}
    </table>


</body>

</html>