<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kvittering - Kuben Kantine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% include "navigation/_navbar.html" %}

    <div class="receipt centered-page is-tight">

        <div class="receipt-header" style="border: none; margin: 0; padding: 0;">
            <h3>#{{ order_info.id }}</h3>
            <p style="margin-right: auto; padding-left: 10px;"><strong>{{ order_info.menu_source }}</strong></p>
            <div class="receipt-date">
                {{ order_info.ordre_dato | format_date }}<br>
                {{ order_info.ordre_tid | format_time }}
            </div>
        </div>
        <h1>Kvittering</h1>
        <p><strong>Navn:</strong> {{ order_info.navn }}</p>
        <p><strong>E-post:</strong> {{ order_info.epost }}</p>
        <p><strong>Mobil:</strong> {{ order_info.mobil }}</p>
        <p><strong>Hentes:</strong> {{ order_info.hent_dato | format_date }} | {{ order_info.hent_tid | format_time }}
        </p>

        {% if order_info.organisasjonsnummer %}
        <p><strong>Organisasjonsnummer:</strong> {{ order_info.organisasjonsnummer }}</p>
        {% endif %}
        {% if order_info.fakturaadresse %}
        <p><strong>Fakturaadresse:</strong> {{ order_info.fakturaadresse }}</p>
        {% endif %}
        {% if order_info.ressursnummer %}
        <p><strong>Ressursnummer:</strong> {{ order_info.ressursnummer }}</p>
        {% endif %}
        {% if order_info.koststed %}
        <p><strong>Koststed:</strong> {{ order_info.koststed }}</p>
        {% endif %}
        {% if order_info.spise_i_kantina == 'Nei' and order_info.menu_source == 'Kantina' %}
        <p><strong>Spise i kantina:</strong> {{ order_info.spise_i_kantina }}</p>
        {% endif %}
        {% if order_info.melding %}
        <p><strong>Melding:</strong> {{ order_info.melding }}</p>
        {% endif %}

        {% if order_info.spise_i_kantina != 'Nei' and order_info.menu_source == 'Kantina' %}
        <h1>{{ order_info.spise_i_kantina }} skal spise i kantina</h1>
        {% else %}
        <h3>Bestilte varer</h3>
        <table border="1" cellpadding="8">
            <tr>
                <th>Produkt</th>
                <th>Antall</th>
                <th>Pris pr stk</th>
                <th>Sum</th>
            </tr>
            {% for item, data in order_array.items() %}
            <tr>
                <td>{{ item }}</td>
                <td>{{ data['antall'] | int }}</td>
                <td>{{ data['pris'] | int }} kr</td>
                <td>{{ data['sum'] | int }} kr</td>
            </tr>
            {% endfor %}
        </table>

        <h3><strong>Totalt: {{ order_info.sum | int }} kr</strong> (Betales på stedet)</h3>
        {% endif %}
    </div>

    {% include "navigation/back_to_top.html" %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>