<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg inn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="centered-page" style="width: 800px;">
        <h2>Logg inn (alpha)</h2>
        <form class="login-form" method="POST">
            <label>Navn</label><br>
            <input type="text" name="navn" required><br><br>

            <label>E-post</label><br>
            <input type="email" name="email" required><br><br>

            <button type="submit">Logg inn</button>
        </form>
    </div>
</body>

</html>