<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kuben Kantine - Hovedmeny</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    {% include "_navbar.html" %}

    <h1>Velkommen til Kuben Kantine</h1>
    <h2>Velg hva du vil gjøre</h2>

    {% if role == 'personlig' %}
    <ul>
        <li><a href="/bestill">Lag ny bestilling</a></li>
        <li><a href="/mine-bestillinger">Se status</a></li>
    </ul>
    {% elif role == 'kjokken' %}
    <ul>
        <li><a href="/aktive-bestillinger">Levere bestillinger</a></li>
    </ul>
    {% elif role == 'okonomi' %}
    <ul>
        <li><a href="/ferdige-bestillinger">Fakturere bestillinger</a></li>
    </ul>
    {% elif role == 'admin' %}
    <ul>
        <li><a href="/admin-brukere">Administrer brukere</a></li>
        <li><a href="/admin-bestillinger">Se alle bestillinger</a></li>
    </ul>
    {% endif %}

</body>

</html>