<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <title>Kuben Kantine - Hovedmeny</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% include "_navbar.html" %}

    <div class="centered-page">
        <h1>Velkommen til Kuben Kantine</h1>
        <h2>Velg hva du vil gjøre</h2>

        {% if role == 'personlig' %}
        <ul>
            <li><a href="/velg-stedet"><button>🍽️ Lag ny bestilling</button></a></li>
            <li><a href="/mine-bestillinger"><button>📋 Se status</button></a></li>
        </ul>
        {% elif role == 'kjokken' %}
        <ul>
            <li><a href="/aktive-bestillinger-i-kantinen"><button>👨‍🍳 Levere bestillinger</button></a></li>
        </ul>
        {% elif role == 'okonomi' %}
        <ul>
            <li><a href="/ferdige-bestillinger"><button>💼 Fakturere bestillinger</button></a></li>
        </ul>
        {% elif role == 'admin' %}
        <ul>
            <li><a href="/admin-brukere"><button>🛠️ Administrer brukere</button></a></li>
            <li><a href="/admin-bestillinger"><button>📦 Se alle bestillinger</button></a></li>
        </ul>
        {% endif %}
    </div>
</body>

</html>