<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <title>Kuben Kantine - Hovedmeny</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    {% include "_navbar.html" %}

    <div class="centered-page">
        <h1>Velkommen til Kuben Kantine</h1>
        <h2>Velg hva du vil gjøre</h2>

        {% if role == 'personlig' %}
        <ul class="main-menu-ul">
            <li class="main-menu-li">
                <button onclick="toggleSubMenu()">🍽️ Lag ny bestilling</button>
            </li>

            <ul class="submenu" style="display: none; margin-left: 20px;">
                <li><a href="/bestille-fra-kantina"><button>🍽️ Bestill fra kantina</button></a></li>
                <li><a href="/bestille-fra-WAKEUP"><button>☕ Bestill fra WAKEUP</button></a></li>
            </ul>

            <li class="main-menu-li"><a href="/mine-bestillinger"><button>📋 Se status</button></a></li>
        </ul>
        {% elif role == 'kjokken' %}
        <ul class="main-menu-ul">
            <!-- <li class="main-menu-li">
                <button onclick="toggleSubMenu()">🍽️ Rediger menyer</button>
            </li>

            <ul class="submenu" style="display: none; margin-left: 20px;">
                <li><a href="/rediger-meny/kantine"><button>🍽️ Kantina</button></a></li>
                <li><a href="/rediger-meny/wakeup"><button>☕ WAKEUP</button></a></li>
            </ul> -->

            <li class="main-menu-li"><a href="/aktive-bestillinger-i-kantinen"><button>👨‍🍳 Aktive
                        bestillinger</button></a></li>
        </ul>



        {% elif role == 'okonomi' %}
        <ul>
            <li><a href="/ferdige-bestillinger"><button>💼 Fakturere bestillinger</button></a></li>
        </ul>
        {% elif role == 'admin' %}
        <ul>
            <li><a href="/admin-brukere"><button>🛠️ Administrer brukere</button></a></li>
            <li><a href="/admin-bestillinger"><button>📦 Se alle bestillinger</button></a></li>
        </ul>
        {% endif %}
    </div>
</body>

</html>