<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <title>Mine bestillinger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% include "_navbar.html" %}

    <h1>Mine bestillinger</h1>
    <table border="1" cellpadding="8">
        <tr>
            <th>ID</th>
            <th>Dato</th>
            <th>Tid</th>
            <th>Koststed</th>
            <th>Totalt (kr)</th>
            <th>Detaljer</th>
        </tr>
        {% for o in orders %}
        <tr>
            <td>{{ o.id }}</td>
            <td>{{ o.hent_dato | format_date }}</td>
            <td>{{ o.hent_tid }}</td>
            <td>{{ o.koststed }}</td>
            <td>
                {% set ordre = o.ordre | fromjson %}
                {{ ordre.values() | map(attribute='sum') | sum }}
            </td>
            <td><a href="/vis-bestilling/{{ o.id }}">Se kvittering</a></td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>